.card {
  display: block;
  border: solid gray 2px;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.showName {
  font-weight: bold;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  background-color: rgba(85, 83, 83, 0.78);
  position: relative;
  top: 1rem;
  display: inline-flex;
  max-width: 85%;
}
.cardToggle {
  background-color: #333333bb;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px 0;
  font-weight: bold;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.toggleTextAdd {
  color: #60d06c;
}
.toggleTextRemove {
  color: #ff5353;
}

@media (max-width: 1100px) {
  .showName {
    font-size: .9rem;
  }
}

@media (max-width: 700px) {
  .showName {
    font-size: .8rem;
  }
}
