.showListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  width: 100%;
  height: 100%;
  padding: 2em 2em 0;
}

@media (max-width: 992px) {
  .showListContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .showListContainer {
    grid-template-columns: 1fr;
  }
}
